.page-header {
  display: flex;
  padding-top: 150px;
  height: 520px;
  background-color: #df9a00;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-header h2 {
  display: flex;
  font-size: 24px;
  margin: 0;
  color: white;
}